@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat')
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}
